<div class="container mypage">
  <section class="user-info">
    <div align="center">
      <%if current_user.profile_img?%>
        <%=image_tag(current_user.profile_img)%>
      <%else%>
        <%=image_tag('if_profle_1055000.png')%>
      <%end%>
      <p class="user-email"><%=current_user.email%><br>
      <%=link_to 'sign out',destroy_user_session_path, method: :delete%>
      </p>
    </div>
  </section>
  <section class="scraped">
    <!--nav tab-->
    <%= render partial: "mypage_nav"%>
    <%if params[:name]%>
      <div class="my-5" align=center>
        <h3><%=@category%></h3>        ㅡ
        <p class="mypage-eng"><%=@categoryEnglish%></p>
        <i class="fa fa-star mt-2" aria-hidden="true" style="color:#5bc0de;"></i>
      </div>
    <%end%>  
    <!--nab tab 끝-->
    
    <!--db구축 후 주석 해제>
    <!--<div class="row container">-->
    <!--  <%#@scraped_clips.each do |c|%>-->
    <!--    <div class="col item img-fluid">-->
          <!--<a href="<%#=c.clip_url%><%#=c.title%>"><img src="<%#= c.thumbnail_url %>"><%#= title["title"] %></a>
    <!--    </div>  -->
    <!--  <%#end%>-->
    <!--</div>-->
    <!--db구축 후 주석 해제 끝>
    
    <!--db구축 후 지우기-->
    <div class="row container">
      <!--최신 동영상 하나하나 -->
      <% @title.each_with_index do |title, index| %>
        <div class="col item img-fluid mypageBlock" >
          <a href="<%=@home_url%><%=title["href"]%>"><img src="<%= @thumnail[index]["src"] %>"><%#= title["title"] %></a>
        </div>
      <% end %>
    </div>
    <!--db구축 후 지우기 끝-->
    
  </section>  
</div>

<%= render partial: "showing_animation"%>