<div class="container mypage">
  <section class="user-info">
    <ul class="mypage-header">
      <li>
        <%if current_user.profile_img?%>
          <%=image_tag(current_user.profile_img)%>
        <%else%>
          <%=image_tag('if_profle_1055000.png',class:"d-inline-block mr-3")%>
        <%end%>
        <p class="user-email d-inline-block align-middle">
          <%=current_user.email%><br>
          <%=link_to 'Sign out',destroy_user_session_path,class:"mybutton-reverse ", method: :delete%>
        </p>
      </li>  
      <li >
        <p class="align-middle">
          <p>가입일</p>
          <span class="count"><%=current_user.created_at.in_time_zone("Asia/Seoul").strftime("%Y")%></span>/
          <span class="count"><%=current_user.created_at.in_time_zone("Asia/Seoul").strftime("%m")%></span>/
          <span class="count"><%=current_user.created_at.in_time_zone("Asia/Seoul").strftime("%d")%></span>
        </p>
      </li>
      <li>
        <p>클릭한 동영상</p>
        <p><%=current_user.frequents.size%>개</p>
      </li>
    </ul>
  </section><br>
  <section class="scraped">
    <!--nav tab-->
    <%= render partial: "mypage_nav"%>
    <%if params[:name]%>
      <div class="my-5" align=center>
        <h3><%=@category%></h3>        ㅡ
        <p class="mypage-eng"><%=@categoryEnglish%></p>
        <i class="fa fa-chevron-down mt-2" aria-hidden="true" style="color:#5bc0de;"></i>
      </div>
    <%end%>  
    <!--nab tab 끝-->
    
    <!--db구축 후 주석 해제>
    <!--<div class="row container">-->
    <!--  <%#@scraped_clips.each do |c|%>-->
    <!--    <div class="col item img-fluid">-->
          <!--<a href="<%#=c.clip_url%><%#=c.title%>"><img src="<%#= c.thumbnail_url %>"><%#= title["title"] %></a>
    <!--    </div>  -->
    <!--  <%#end%>-->
    <!--</div>-->
    <!--db구축 후 주석 해제 끝>
    
    <!--db구축 후 지우기-->
    <div class="row container">
      <!--최신 동영상 하나하나 -->
      <% @title.each_with_index do |title, index| %>
        <div class="col item img-fluid mypageBlock" >
          <a href="<%=@home_url%><%=title["href"]%>"><img src="<%= @thumnail[index]["src"] %>"><%#= title["title"] %></a>
        </div>
      <% end %>
    </div>
    <!--db구축 후 지우기 끝-->
    
  </section>  
</div>

<%= render partial: "showing_animation"%>
<script>
$('.count').each(function () {
    $(this).prop('Counter',0).animate({
        Counter: $(this).text()
    }, {
        duration: 4000,
        easing: 'swing',
        step: function (now) {
            $(this).text(Math.ceil(now));
        }
    });
});
</script>